<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolflix</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <link rel="stylesheet" href="css/style.css">
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>
    
    <!-- App -->
    <div id="root">

        <!-- HEADER -->
        <header>
            <div class="container">

                <!-- Logo -->
                <div class="logo">
                    <img src="https://fontmeme.com/permalink/210501/c072857f28ffed69c9266a55183f4c20.png" alt="netflix-font" >
                </div>
    
                <!-- Search Bar -->
                <div class="search-bar">

                    <div class="query-search">
                        <label for="search">Ricerca: </label>
                        <input id="search" type="text" placeholder="Cerca..." v-model="searchQuery" @keyup.enter="searchMovie(); searchTvShows()">
                    </div>
                    
                    <div class="genre-search">
                        <!-- Filter Genres -->
                        <label for="filter-genres">Filtra per genere:</label>
                        <select id="filter-genres" v-model="selectedGenre" @change="filterMovieByGenre(); filterTvShowByGenre()">
                            <option value="">All</option>
                            <option v-for="genre in genres" :value="genre.id">{{genre.name}}</option>
                        </select>
                    </div>
                    

                    <button class="search-button" @click="searchMovie(); searchTvShows()">Cerca</button>
                </div>

            </div>            
        </header>
        <!-- FINE HEADER -->

        <!-- MAIN -->
        <main>

            <div class="container">

                <!-- Section Movies -->
                <section v-if="filteredMovies.length > 0" class="movies-section">
                    <h2>Film</h2>       
                    <ul>
                        <!-- Single List Item -->
                        <li v-for="movie in filteredMovies">

                            <!-- Title -->
                            <div class="title">
                                {{movie.title}}
                            </div>

                            <!-- Original Title and Year -->
                            <div v-if="movie.original_title != movie.title" class="original-title">
                                Titolo Originale: {{movie.original_title}},
                                <span class="year">{{getYear(movie, 'release_date')}}</span>
                            </div>
                            <div v-else class="year">{{getYear(movie, 'release_date')}}</div>

                            <!-- Lang -->
                            <div class="language">
                                Lang:
                                <img class="flag-img" :src="flagImages[movie.original_language]" alt="">                                                                   
                            </div> 
                            
                            <!-- Genre -->
                            <div v-if="movie.genre_ids.length > 0" class="genre">
                                Genere:
                                {{getGenre(movie.genre_ids)}}
                            </div>

                            <!-- Vote -->
                            <div class="vote">
                                <i v-for="star in getVote(movie)" class="fas fa-star"></i> 
                                <i v-for="star in (5 - getVote(movie))" class="far fa-star"></i>
                            </div>                                
                            
                            <!-- Overview -->
                            <div class="overview">
                                <div class="overview-text">
                                    {{movie.overview}}
                                </div>                                
                            </div>

                            <!-- Button Cast -->
                            <button class="cast" @click="getCredits(movie, 'movie'); toggleCredits()">Guarda cast</button>                            
                            
                            <img class="poster" :src="`https://image.tmdb.org/t/p/w342/${movie.poster_path}`" alt="">
                        
                            
                            
                        </li>
                    </ul>
                </section>                
                <!-- End Section Movies -->

                <!-- Tv Shows Section -->
                <section v-if="filteredTvShows.length > 0" class="tv-shows-section">
                    <h2>Serie Tv</h2>       
                    <ul>
                        <!-- Single List Item -->
                        <li v-for="show in filteredTvShows">
                            <!-- Title -->
                            <div class="title">
                                {{show.name}}
                            </div>    

                            <!-- Original Title and Year-->
                            <div v-if="show.original_name != show.name" class="original-title">
                                Titolo Originale: {{show.original_name}},
                                <span class="year">{{getYear(show, 'first_air_date')}}</span>
                            </div>  
                            <div v-else class="year">{{getYear(show, 'first_air_date')}}</div>

                            <!-- Lang -->
                            <div class="language">
                                Lang: 
                                <img class="flag-img" :src="flagImages[show.original_language]" alt="">
                            </div>  
                            
                            <!-- Genre -->
                            <div v-if="show.genre_ids.length > 0" class="genre">
                                Genere:
                                {{getGenre(show.genre_ids)}}
                            </div>
                            
                            <!-- Vote -->
                            <div class="vote">
                                <i v-for="star in getVote(show)" class="fas fa-star"></i> 
                                <i v-for="star in (5 - getVote(show))" class="far fa-star"></i>
                            </div>                                                         
                            
                            <!-- Overview -->
                            <div class="overview">
                                <div class="overview-text">
                                    {{show.overview}}
                                </div>                                
                            </div>

                            <!-- Button Cast -->
                            <button class="cast" @click="getCredits(show, 'tv'); toggleCredits()">Guarda cast</button>                            

                            <img class="poster" :src="`https://image.tmdb.org/t/p/w342/${show.poster_path}`" alt="">

                        </li>                        
                    </ul>
                </section>
                <!-- End Tv Shows Section -->

                <!-- No Match Found -->
                <div v-if="noMatchFound" class="no-match">
                    Non sono stati trovati risultati corrispondenti alla tua ricerca.
                </div>

                <!-- Credits -->
                <div class="credits-container" :class="{active : openCredits}">
                    <div class="credits">
                        <i @click="toggleCredits()" class="fas fa-times"></i>

                        <div class="title">Cast:</div>

                        <div v-if="cast.length > 0" class="actors-container">

                            <!-- Single Actor -->
                            <div v-if="actor.profile_path != null" 
                                class="single-actor" 
                                v-for="actor in cast" 
                            >
                                <img :src="`https://image.tmdb.org/t/p/w342/${actor.profile_path}`" alt="">
                                {{actor.name}}
                            </div>

                        </div>

                        <div v-else class="title">Non è presente il cast per questo elemento.</div>
                        
                    </div>
                </div>

            </div>
                        
        </main>
        <!-- FINE MAIN -->

        
        
    </div>

    
    <!-- End App -->
    
    <script src="js/script.js"></script>    
</body>
</html>