<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolflix</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/css/splide.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <link rel="stylesheet" href="css/style.css">
    
    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/js/splide.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>
    
    <!-- App -->
    <div id="root">

        <!-- HEADER -->
        <header>
            <div class="container">

                <!-- Logo -->
                <div class="logo">
                    Boolflix
                </div>
    
                <!-- Search Bar -->
                <div class="search-bar">
                    <label for="search">Ricerca: </label>
                    <input id="search" type="text" placeholder="Cerca..." v-model="searchQuery" @keyup.enter="searchMovie(); searchTvShows()">
                    <button class="search-button" @click="searchMovie(); searchTvShows()">Cerca</button>
                </div>

            </div>            
        </header>
        <!-- FINE HEADER -->

        <!-- MAIN -->
        <main>

            <div class="container">
                <!-- Section Movies -->
                <section v-if="resultMovies.length > 0" class="movies-section">
                    <h2>Film Risultati</h2>       
                    <ul>
                        <!-- Single List Item -->
                        <li v-for="movie in resultMovies" v-if="movie.poster_path != null">
                            Titolo: {{movie.title}} <br>
                            Titolo Originale: {{movie.original_title}} <br>
                            Lingua: <img class="flag-img" :src="flagImages[movie.original_language]" alt=""> {{movie.original_language}} <br>
                            Voto: {{getVote(movie)}} <br>
                            
                            <img class="poster" :src="`https://image.tmdb.org/t/p/w342/${movie.poster_path}`" alt="">
                        
                            
                            
                        </li>
                    </ul>
                </section>
                <!-- End Section Movies -->

                <!-- Tv Shows Section -->
                <section v-if="resultTvShows.length > 0" class="tv-shows-section">
                    <h2>Serie Tv Risultati</h2>       
                    <ul>
                        <!-- Single List Item -->
                        <li v-for="show in resultTvShows" v-if="show.poster_path != null">
                            Titolo: {{show.name}} <br>
                            Titolo Originale: {{show.original_name}} <br>
                            Lingua: <img class="flag-img" :src="flagImages[show.original_language]" alt=""> {{show.original_language}} <br>
                            
                            Voto: <i v-for="star in getVote(show)" class="fas fa-star"></i> 
                                <i v-for="star in (5 - getVote(show))" class="far fa-star"></i> <br>                                
                            
                            <img class="poster" :src="`https://image.tmdb.org/t/p/w342/${show.poster_path}`" alt="">
                            <hr>
                        </li>
                    </ul>
                </section>
                <!-- End Tv Shows Section -->
            </div>
            
        </main>
        <!-- FINE MAIN -->
        
    </div>
    <!-- End App -->
    

    <script src="js/script.js"></script>
</body>
</html>